<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true" ></defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="LicensePublisherSoap12">
          <textMessageEncoding messageVersion="Soap12" writeEncoding="utf-8"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint
        address="http://www.devzest.com/LicensePublisher.asmx"
        binding="customBinding"
        bindingConfiguration="LicensePublisherSoap12"
        contract="DevZest.Licensing.ILicensePublisher"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="Assembly" value="DevZest.WpfDocking.dll"/>
    <add key="LicenseEntryFolder" value="DevZest\WPF Docking" />
	  <add key="ProductReleasesUrl" value="http://www.devzest.com/ProductReleases.aspx?Product=WpfDocking" />
    <add key="ProductReleasesWebPageUrl" value="http://www.devzest.com/WpfDocking.aspx?Show=Releases" />
    <add key="PurchaseUrl" value="http://www.devzest.com/Buy.aspx?Product=WpfDocking"/>
    <add key="LicenseEmail" value="license@devzest.com"/>
    <add key="LicenseAgreementFile" value="LicenseAgreement.rtf"/>
    <add key="DesignTimeFreeFeatureLicenseCategory" value="FreeFeature"/>
    <add key="DesignTimeEvaluationLicenseCategory" value="Evaluation"/>
    <add key="DesignTimePaidLicenseCategory" value="Paid"/>
    <add key="RuntimeFreeFeatureLicenseCategory" value="FreeFeature"/>
    <add key="RuntimeEvaluationLicenseCategory" value="Evaluation"/>
    <add key="RuntimePaidLicenseCategory" value="Paid"/>
    <add key="DistributableLicenseCategory" value="Distributable"/>
  </appSettings>
</configuration>
